.big-loader {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  background: #FFF;
  opacity: 0.3;
  filter:Alpha(Opacity=0.3);
  z-index: 10000;
}
.line-lang {
  margin: 0px;
}
.hidden {
  display: none;
}
.list-projects-item-old .list-projects-text {
  height: 104px;
}
.list-projects-item-old .list-projects-content,
.slider-hotprojects-content {
  position: relative;
}
.list-projects-item-old .list-projects-marker,
.slider-hotprojects-item .list-projects-marker {
  left: 10px;
  top: 2px;
}
@media (max-width: 992px) {
  .list-projects-item-old .list-projects-marker,
  .slider-hotprojects-item .list-projects-marker {
      left: 10px;
      top: 2px;
  }
}
.chartjs-tooltip {
  opacity: 0;
}
@media (max-width: 768px) {
  .list-projects-item-old .list-projects-marker,
  .slider-hotprojects-item .list-projects-marker {
    font-size: 11px;
    line-height: 22px;
  }
}
@media (min-width: 993px) {
  .header-logo {
    width: 104px;
  }
}
@media (min-width: 1201px) {
  .project-head-name {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 576px) {
  .list-people-img {
    margin: 0 15px 15px 0;
  }
}

/* H3 */
.project-item .h3 {
	font-size: 20px;
	line-height: 30px;
	font-family: 'HelveticaNeueCyrBold';
	color: #181818;
	font-weight: normal;
	margin-bottom: 20px;
}
.filter-title .h3 {
	padding: 0;
	margin: 0;
	font-size: 26px;
	color: #000;
	font-family: 'HelveticaNeueCyrBlack';
}
.my-projects-info-left-collumn .h3 {
	text-transform: uppercase;
	margin: 0 0 15px 0;
	font-size: 13px;
	color: #161616;
	text-align: center;
  font-family: 'HelveticaNeueCyrBold';
}
.my-projects-info-content .h3 {
	font-size: 18px;
	margin: 0 0 10px 0;
	color: #181818;
  font-family: 'HelveticaNeueCyrBold';
}
.modal .body .title .h3 {
  margin: 0;
  display: inline-block;
  width: 100%;
  font-family: 'HelveticaNeueCyrBlack';
}
.modal.dark .body .title .h3 {
	font-family: geometriaregular, Arial, sans-serif;
	color: #ebebeb;
	font-weight: bold;
	font-size: 28px;
}
.darkauth__content .title .h3 {
	font-family: geometriaregular, Arial, sans-serif;
	color: #ebebeb;
	font-weight: bold;
	font-size: 28px;
}
.transactions-block .h3,
.transactions-block .h3 a {
	font-family: 'HelveticaNeueCyrMedium';
	text-decoration: none;
	font-size: 22px;
	color: #272727;
	margin: 0;
}
.transactions-block-head:hover .h3 {
	color: #0067e1;
}
@media (max-width: 1200px) {
  .project-item .h3 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 15px;
	}
}
@media (max-width: 992px) {
  .filter-title .h3 {
		font-size: 20px;
		text-align: left;
	}
}
@media (max-width: 767px) {
  .transactions-block .h3,
	.transactions-block .h3 a {
		font-size: 16px;
	}
	.transactions-block .h3 {
		margin-right: 10px;
	}
  .modal .body .title .h3 {
    font-size: 24px;
  }
}
/* end H3 */
.project-head-name h1 {
	font-size: 34px;
	line-height: 48px;
	color: #000;
	font-family: 'relewayblack';
}
@media (max-width: 1200px) {
  .project-head-name h1 {
		font-size: 26px;
		line-height: 30px;
	}
}
@media (max-width: 767px) {
  .project-head-name h1 {
		font-size: 20px;
		line-height: 28px;
	}
}
@media (min-width: 1201px) {
  .project-head-name h1 {
    font-size: 28px;
    line-height: 38px;
  }
}