@media (max-width: 1260px) {
	.slider-hotprojects {
		margin-bottom: 110px;
	}
	.slider-hotprojects .slick-prev {
		left: 50%;
		top: 100%;
		margin: 15px 0 0 -62px;
	}
	.slider-hotprojects .slick-next {
		right: 50%;
		top: 100%;
		margin: 15px -62px 0 0;
	}

	.parent-comment .parent-comment {
		padding-left: 15px;
	}
}

@media (min-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1200px) {
	.slider-hotprojects-bimg {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		padding: 25px 0 25px 25px;
		background-color: #fff;
	}
	.slider-hotprojects-img {
		width: 100%;
		height: 196px !important;
		margin: auto;
	}
	.list-projects-marker {
		top: 36px;
	}
}
@media (max-width: 1200px) {
	.side-tokens-wrap {
		padding: 43px 24px;
	}

	.card-tags.side {
		margin: 0 0 20px 0;
	}

	.card-tags.side .card-tags_gray, 
	.card-tags.side .card-tags_orange,
	.card-tags.side .card-tags_red {
	padding: 5px 8px;
	}
	.types-graph-item {
		width: calc(50% - 20px);
	}
	.vidgets-logos-item-copy {
		min-width: 190px;
		max-width: 190px;
	}
	.header-menu-item > a {
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-projects-content {
		padding: 30px;
	}
	.list-projects-invite > div {
		padding: 40px 30px;
	}

	.slider-hotprojects-content {
		padding: 21px 25px;
	}
	h1, .h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	h2,	.h2 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.title-w-link {
		margin-bottom: 15px;
	}

	.slider-wellcome-title {
		font-size: 40px;
		line-height: 46px;
	}
	.slider-wellcome-sub {
		font-size: 18px;
		line-height: 22px;
	}

	.slider-wellcome-itembody {
		height: 500px;
	}
	.slider-hotprojects-bimg {
		width: 40%;
	}

	.side-menu-body {
		padding: 20px;
	}
	.side-share-btns {
		margin: -5px;
	}
	.side-share-btns > div {
		margin: 5px 5px;
	}
	.side-share-title {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.side-share {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.side-btns {
		margin-bottom: 20px;
	}
	.side-btns .btn {
		margin-top: 10px;
	}

	.project-head-name {
		font-size: 26px;
		line-height: 30px;
	}
	.project-item {
		padding: 30px;
	}

	.list-traction-item {
		padding-top: 20px;
		margin-top: 20px;
	}

	.project-item h3 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.project-item-title {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.list-people-img {
		width: 110px;
		margin-right: 20px;
	}

	.list-reviews-img {
		width: 110px;
		margin-right: 20px;
	}
	.list-reviews-item {
		margin-top: 45px;
	}
	.list-reviews-body::after {
		top: -20px;
		left: -35px;
	}

	.roadmap-item {
		padding-left: 80px;
	}

	.project-table td {
		padding: 10px 20px;
	}

	.slider-wellcome-points {
		width: 930px;
		margin-left: -465px;
	}

	.block-startproject {
		height: 505px;
	}
	.startproject-title {
		font-size: 45px;
		line-height: 51px;
	}
	.startproject-sub {
		font-size: 20px;
		margin-bottom: 25px;
	}

	.persona-avatar {
		width: 110px;
		height: 110px;
	}

	.chart-content,
	.chart-side {
		padding: 30px;
	}
	.chart-side {
		width: 250px;
	}

	/* new6.03.2018 */
	.bytoken {
		padding: 45px 50px;
	}
	.bytoken-title {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.bytoken-h2 {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.bytoken-list-checkbox-item {
		padding: 20px;
	}
	.bytoken-checkbox label {
		font-size: 13px;
		line-height: 21px;
	}
	.bytoken-checkbox label {
		padding: 5px 0 5px 50px;
	}

	.bytoken-list {
		margin-bottom: 35px;
	}
	.bytoken-list-checkbox-item {
		margin-top: 20px;
	}
	.bytoken-list-mini {
		margin-bottom: 35px;
	}
	.bytoken-list-mini-item {
		margin-top: 15px;
	}
	.bytoken-i-padd {
		padding-left: 0px;
	}

	.bytoken-footer {
		padding: 35px 50px;
		margin-left: -50px;
		margin-right: -50px;
		margin-bottom: -45px;
	}

	.bytoken-table {
		padding: 30px 35px;
	}
	.bytoken-table-label {
		font-size: 14px;
	}
	.bytoken-table-price {
		font-size: 18px;
	}
	.bytoken-table-money {
		font-size: 14px;
	}
	.bytoken-basket-title {
		font-size: 18px;
	}
	/* new6.03.2018 */

	/* 07.03.2018 */
	.slider-hotprojects-img {
		height: 300px;
	}
	.list-projects-img {
		height: 162px;
	}
	/* /107.03.2018 */
}

/* @media (min-width: 992px) {
	html {
		overflow-y: scroll;
	}
} */
@media (max-width: 992px) {

	.new-start-screen__heading {
		font-size: 24px;
		line-height: 32px;
		max-width: 400px;
	}

	.side-tokens-wrap {
		display: none;
	}

	.card-tags.side {
		display: none;
	}

	.token-price__count {
		position: relative;
	}

	.code-form.code-form-mobile {
		position: absolute;
		bottom: -90px;
		display: block;
		width: 284px;
	}
	.token-price {
		padding: 40px 52px 100px 52px;
	}
	.list-projects-item {
		/*max-width: 327px;*/
	}

	.vidgets-logos-tabs {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.vidgets-logos-tab {
		width: 100%;
	}
	.vidgets-logos-tab {
		border-right-color: transparent;
		border-left-color: transparent;
	}
	.vidgets-logos-tab:first-child {
		border-left-color: transparent;
	}
	.vidgets-logos-item {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		border-top: 1px solid #eaeaea;
		padding-top: 30px;
	}

	.vidgets-logos-item-code {
		margin-bottom: 15px;
	}

	.vidgets-logos-tab.active {
		border-right-color: transparent;
	}

	.vidgets-logos-item-img {
		margin-bottom: 15px;
	}
	.transactions-show-more {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-ms-align-items: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 35px 0 0px 0;
	}
	.transactions-show-more-nav {
		position: relative;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin: 0 0 30px 0;
	}
	.transactions-show-more-btn {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		max-width: 290px;
	}
	.transactions-block-line {
		line-height: 1;
		padding: 25px 15px 25px 70px;
	}
	.transactions-block-line:before {
		display: none;
	}
	.transactions-block-line b {
		font-size: 11px;
		text-transform: uppercase;
		margin: 0 0 8px 0;
		display: block;
		line-height: 1.2;
	}
	.transactions-block-line span {
		display: block;
		opacity: .6;
		font-size: 12px;
		line-height: 1.2;
		word-break: break-all;
	}
	.transactions-block-link {
		font-size: 0;
		min-width: 43px;
		padding: 12.5px;
	}
	.transactions-block-link-icon {
		display: inline-block;
		position: relative;
		left: 2px;
	}
	.transactions-block-link-icon svg {
		display: inline-block;
	}
	.darkauth {
		padding: 40px 5px;
	}
	.darkauth .logo {
		text-align: center;
		margin-bottom: 35px;
	}
	.darkauth__content .title {
		margin-bottom: 30px;
	}
	.darkauth__content .enterwith {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	.darkauth__content .enterwith a {
		width: 100%;
		padding: 0 15px;
		margin: 5px 0;
	}
	footer {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.footer-signin,
	.footer-hotlinks {
		margin-bottom: 30px;
	}
	.footer-socio {
		margin: -5px -5px;
	}
	.footer-socio > div {
		padding: 5px 5px;
	}

	.footer-menu-item {
		margin-top: 10px;
	}

	.slick-slider {
		margin-bottom: 20px;
	}

	.table-des-item {
		width: auto;
		max-width: 50%;
	}
	.table-des-label {
		margin-bottom: 0;
	}
	.table-des-label {
		font-size: 13px;
		margin-right: 10px;
	}
	.table-des-item > div {
		width: auto;
	}
	.table-num {
		font-size: 13px;
	}

	.header-content {
		height: 65px;
	}
	body {
		padding-top: 65px;
	}
	
	.slider-wellcome {
		text-align: center;
	}
	.slider-wellcome-title {
		font-size: 28px;
		line-height: 32px;
	}
	.slider-wellcome-sub {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}

	.slider-wellcome-itembody {
		height: 420px;
		padding-bottom: 40px;
	}

	.title-w-link h1,
	.title-w-link .h1,
	.filter-title h3 {
		font-size: 20px;
		text-align: left;
	}
	.title-w-link .btn {
		font-size: 12px;
		padding: 12px 20px;
	}

	.list-projects-marker {
		left: 10px;
		top: 10px;
	}
	.slider-hotprojects {
		margin-left: -15px;
		margin-right: -15px;
	}
	.slider-hotprojects-item {
		padding-left: 8px;
		padding-right: 8px;
	}
	.slider-hotprojects-content {
		padding: 20px 15px;
	}
	.list-projects-name {
		font-size: 16px;
		line-height: 22px;
	}

	.link-tabs a {
		font-size: 12px;
		padding: 10px 15px;
	}

	.filter-btns > div {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.filter-btns > div + div {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-bottom: 15px;
	}

	.filter {
		padding: 20px;
	}
	.filter .form-group {
		margin-bottom: 10px;
	}

	.slider-hotprojects-img {
		height: 226px;
	}
	.slider-hotprojects-img.video:before {
		width: 52px;
		height: 52px;
		margin: -26px 0 0 -26px;
		background-size: 12px auto;
		background-position: 20px 16px;
	}

	.list-projects-invite {
		min-height: 460px;
	}
	.list-projects-item {
		margin-bottom: 10px;
	}
	.slider-hotprojects {
		padding-left: 0;
		padding-right: 0;
	}
	.slider-hotprojects-bimg {
		width: 100%;
	}
	
	.filter-btns {
		padding-top: 20px;
	}
	.link-tabs {
		margin-bottom: 20px;
	}

	.side-menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		-webkit-box-shadow: 0 6px 18px rgba(180,180,180,1);
		        box-shadow: 0 6px 18px rgba(180,180,180,1);
		z-index: 500;
		overflow-y: hidden;
		-webkit-transform: translateY(100%) translateY(-69px);
		-ms-transform: translateY(100%) translateY(-69px);
		transform: translateY(100%) translateY(-69px);
		-webkit-transition: transform 0.2s;
		-o-transition: transform 0.2s;
		-webkit-transition: -webkit-transform 0.2s;
		transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
		transition: transform 0.2s, -webkit-transform 0.2s;
		padding-top: 20px;
	}
	.side-menu-btn {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 20px;
		z-index: 2;
		background: url('../images/system/str-side-menu.png') 50% 50% no-repeat;
	}
	.side-menu.active .side-menu-btn {
		background-image: url('../images/system/str-side-menu-down.png');
	}
	.side-menu.active {
		overflow-y: auto;
	  -webkit-transform: translateY(20px);
	  -ms-transform: translateY(20px);
	  transform: translateY(20px);
	}

	.side-menu .btn {
		font-size: 12px;
		padding: 12px 20px;
	}
	.side-menu-body {
		padding-top: 0;
		max-width: 420px;
		margin: 0 auto;
	}
	.side-share {
		border: none;
		padding-bottom: 0;
	}

	.slider-wellcome-points {
		width: 690px;
		margin-left: -345px;
	}

	.block-startproject {
		height: 405px;
	}
	.startproject-title {
		font-size: 40px;
		line-height: 46px;
	}
	.startproject-sub {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.my-projects-info-left-collumn {
		padding: 35px;
		width: 310px;
	}
	.my-projects-info-content {
		padding: 35px 45px;
	}

	.content-line {
		margin: 25px 0;
	}
	.content-block {
		padding: 25px;
	}

	.vacancy {
		padding: 25px;
	}

	.vacancy-name {
		font-size: 16px;
	}

	.vacancy-pointed .vacancy-category:after,
	.resume-pointed .resume-autor:after {
		left: -17px;
	}

	.resume-autor-name {
		font-size: 14px;
	}
	.resume {
		padding: 25px;
	}
	.resume-autor-avatar {
		margin-right: 10px;
	}

	.resume-tags span {
		padding: 5px 10px;
	}

	.settings {
		padding: 25px;
	}

	#dropZone,
	.upoaded-image {
		height: 160px;
	}

	.content-block-white {
		padding: 35px 25px;
	}

	.side-startproject {}

	.persona-avatar {
		width: 132px;
		height: 132px;
	}

	.header-logo {
		width: 100px;
	}

    .modal .body .enterwith {
        margin: 0 -25px 30px;
    }
    .modal .body .enterwith a {
        padding: 0 15px;
    }

	/* new6.03.2018 */
	.bytoken {
		padding: 35px 40px;
	}
	.bytoken-title {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.bytoken-purse {
		font-size: 18px;
		margin-bottom: 25px;
	}
	.bytoken-text {
		margin-bottom: 25px;
	}
	.bytoken-i-padd {
		padding-left: 0;
	}
	.bytoken-btc .form-control {
		font-size: 22px;
		width: 125px;
	}
	.bytoken-btc span {
		font-size: 20px;
	}	

	.bytoken-footer {
		padding: 35px 40px;
		margin-left: -40px;
		margin-right: -40px;
		margin-bottom: -35px;
	}
	.bytoken-wallet-span {
		font-size: 18px;
	}

	.bytoken-table {
		margin-bottom: 25px;
	}
	.bytoken-basket {
		margin-bottom: 25px;
	}
	/* new6.03.2018 */

	/* 07.03.2018 */
	/*.list-projects-body,
	.list-projects-line {
		max-width: 327px;
	}*/
	.list-projects-img {
		height: 183px;
	}
	/* /07.03.2018 */
}


@media (min-width: 767px) {}
@media (max-width: 767px) {

	.table-amount__number,
	.table-amount__label {
		padding-left: 20px;
	}
	
	.bytoken.tokenb {
		padding: 26px 24px;
	}

	.token-price {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin: 0 -24px;
		padding: 40px 24px 140px 24px
	}
	.code-form.code-form-mobile {
		bottom: -214px;
		margin-bottom: 30px;
	}
	.token-price__label {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.token-price__discount {
		margin-top: 10px;
	}
	.project-item-socials-btn {
		width: 100%;
		font-size: 0;
	}
	.project-item-socials-btn:before {
		content: 'Show more';
		width: 100%;
		text-align: center;
		font-size: 15px;
	}
	.list-accept-item.socials {
		min-width: 210px;
		width: 100%;
	}
	/* .project-photo-item a {
		height: 180px;
	} */

	.transactions-empty {
		padding: 40px 15px 40px 15px;
		margin: 25px 15px 0 15px;
	}

	.transactions-empty p {
		font-size: 18px;
		line-height: 1.3;
	}

	.transactions-empty a {
		white-space: nowrap;
	}
	
	.projects-filter.form-default label {
		margin: 0 15px 0 0;
	}
	.transactions {
		padding: 12px 0 40px 0;
	}
	.transactions h1 {
		font-size: 22px;
		line-height: 42px;
	}
	.transactions-block-mobile {
		display: block;
	}

	.transactions-block-table-responsive,
	.floatThead-wrapper {
		display: none;
	}
	.transactions-block-content.transactions-block-content_small {
		padding: 0;
	}

	.transactions-block h3,
	.transactions-block h3 a {
		font-size: 16px;
	}
	.transactions-block h3 {
		margin-right: 10px;
	}

	.transactions-block-head {
		padding: 10px 9px 10px 0px
	}
	.transactions-block-icon {
		border: 0;
		margin-right: 3px;
	}
	.transactions-block-icon svg{
		fill: #C4C4C4;
	}
	.transactions-block-line {
		padding: 25px 15px 25px 15px;
	}
	.project-head-name {
		font-size: 20px;
		line-height: 28px;
	}

	.project-head-img {
		width: 80px; 
		margin: 0 20px 0 0;
	}
	.project-head-title {
		margin-bottom: 15px;
	}
	.project-head-text {
		margin-bottom: 15px;
	}

	.project-item-title {
		font-size: 20px;
		line-height: 24px;
	}
	.row-kpls-title {
		font-size: 14px;
		line-height: 20px;
	}

	.list-people-item {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dotted #ddd;
	}
	.list-people-item:first-child {
		border: none;
		margin: 0;
	}

	.list-people-socio {
		width: 100%;
		border: none;
		padding-left: 0;
		margin: 10px -8px 0 -8px;
	}

	.list-people-img {
		width: 70px;
	}

	.list-reviews-img {
		width: 70px;
		margin: 0 35px 0 0;
	}

	.list-press img {
		max-height: 55px;
	}

	.documents {
		min-height: auto;
	}

	.pr-title {
		font-size: 14px;
		line-height: 18px;
	}

	.list-discounts-item {
		margin-top: 20px;
	}

	.list-p-rew-head-name {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-right: 5px;
	}
	.list-p-rew-head-links {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.list-p-rew-head-date {
		-webkit-box-ordinal-group: 4;
		    -ms-flex-order: 3;
		        order: 3;
	}

	.comment {
		padding: 25px;
	}

	.block-show-more > div {
		width: 100%;
	}

	.add-comment {
		padding: 0;
	}
	.acc-block-content .block-show-more {
		padding: 0;
		margin: 20px 0;
	}

	.block-startproject {
		height: 320px;
	}
	.startproject-title {
		font-size: 28px;
		line-height: 34px;
	}
	.startproject-sub {
		font-size: 14px;
		margin-bottom: 20px;
	}


	.my-projects-info-left-collumn {
		padding: 35px 25px;
		width: 100%;
	}
	.my-projects-info-content {
		padding: 35px 25px;
		width: 100%;
	}

	.form-avatar {
		width: 130px;
		height: 130px;
		margin: 0 30px 0 0;
	}

	.content-title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.persona-avatar {
		width: 132px;
		height: 132px;
		margin: 0 0 20px 0;
	}
	.persona-des {
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
		width: 100%;
	}

	.form-default .btn {
		padding: 13px 20px;
		font-size: 12px;
	}
	.addroadmap-item {
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px dotted #cdcdcd;
	}

    .modal .body .title h3 {
        font-size: 24px;
    }
    .modal .logo {
        width: 100%;
        text-align: center;
        left: 0;
        top: 70px;
    }
    .modal .close {
        right: 50%;
        text-align: center;
        top: 25px;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        white-space: nowrap;
    }
    .modal .body {
        padding: 170px 20px 50px !important;
    }
    .modal .body .title {
        margin-bottom: 30px;
    }
    .modal .body .enterwith {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 0 30px;
    }
    .modal .body .enterwith a {
        width: 100%;
    }
    .modal .body .enterwith p {
        margin: 5px 0;
    }

    .modal {
        padding: 0 !important;
    }
    .modal-content {
        margin: 0;
        padding: 0;
        left: 0px;
        top: 0px;
        overflow: auto;
        height: auto;
        max-height: 770px;
    }
    .modal-dialog {
        padding: 0;
		-ms-flex-align: start !important;
		-webkit-box-align: start !important;
		        align-items: flex-start !important;
    }


	.chart-content,
	.chart-side {
		padding: 25px;
	}
	.chart-side {
		width: 100%;
		border-left: none;
		border-top: 1px solid #dcdcdc;
	}
	.chart-content {
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
		width: 100%;
	}

	/* new 06.03.2018 */
	.bytoken-list {
		margin-bottom: 25px;
	}
	.bytoken-list-checkbox-item {
		margin-top: 15px;
	}
	.bytoken-list-mini {
		margin-bottom: 20px;
	}
	.bytoken-list-mini-item {
		margin-top: 10px;
	}
	.bytoken-table-item {
		margin-top: 15px;
	}
	.bytoken-basket-title {
		font-size: 14px;
	}
	/* new 06.03.2018 */

	/* 07.03.2018 */
	.slider-hotprojects-img {
		height: 215px;
	}
	/* /07.03.2018 */
}

@media (min-width: 576px) {}
@media (max-width: 576px) {
	
	.new-start-screen {
		padding: 45px 0 55px 0;
	}	

	.code-form.code-form-mobile {
		width: 260px;
	}

	.table-amount__number,
	.table-amount__label {
		width: 100%;
		padding-left: 10px;
		font-size: 14px;
		line-height: 1;
		min-height: 40px;
		padding: 10px 0 10px 10px
	}

	.table-amount__number b {
		font-size: 14px;
	}
	.table-amount__number {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
	}

	.card-start-items {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.card-start-days {
		margin: 10px 0;
	}
	.types-graph-item {
		width: 100%;
		margin: 30px 0 0 0;
	}
	.types-graph-line {
		flex-wrap: wrap;
	}
	.graph-eval-by {
		width: 100%;
		margin: 10px 0 0 0;
	}
	.project-item-description-btn {
		font-size: 0;
		margin: 30px auto 0 auto;
		max-width: 320px;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.project-item-description-btn:before {
		content: 'Открыть описание';
		font-size: 12px;
	}
	.project-item-slide-block.active + .project-item-description-btn:before {
		content: 'Закрыть описание'
	}
	.vidget-form input {
		max-width: none;
		width: 100%;
	}

	.vidgets-logos-item-code {
		margin: 0 0 25px 0;
	}

	.vidget-form button {
		margin-left: 0;
		margin-top: 15px;
		max-width: none;
		width: 100%;
	}

	.vidget-row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.transactions h1 {
		padding: 0 15px;
	}
	.transactions .container {
		padding: 0;
	}
	.transactions .row {
		margin: 0;
	}

	.footer-signin-content button {
		width: 110px;
		padding: 15px 10px;
	}

	.footer-hotlinks-item {
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	
	.footer-signin {
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-signin-content {
		max-width: 380px;
		margin: 0 auto 5px auto;
	}
	.slider-hotprojects {
		padding-left: 0;
		padding-right: 0;
	}

	.project-head-des {
		width: 100%;
	}
	.project-item {
		padding: 25px 15px;
	}
	.project {
		margin: 0 -15px;
	}

	.project-head-des {
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;
		margin-top: 10px;
	}
	.project-head-img {
		width: 50px;
	}

	.list-traction-item {
		padding: 15px 0 0 55px;
		background-size: 40px auto;
	}

	.list-people-content {
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;
	}
	.list-people-img {
		margin: 0 0 15px 0;
	}

	.list-people-item.list-people-solo .list-people-socio {
		-ms-flex-pack: start !important;
		-webkit-box-pack: start !important;
		        justify-content: start !important;
	}
	.list-people-name {
		font-size: 12px;
		line-height: 16px;
	}

	.list-reviews-body {
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;
		padding-top: 0;
	}
	.list-reviews-body:after {
		left: 0;
		top: 0;
		display: none;
	}
	.list-reviews-img {
		margin: 0 0 15px 0;
	}
	.list-reviews-item {
		margin-top: 20px;
	}

	.list-press img {
		max-height: 50px;
		max-width: 75px;
	}

	.roadmap-num {
		font-size: 12px;
		width: 40px;
		height: 40px;
		line-height: 38px;
	}
	.roadmap-num:after {
		width: 40px;
		height: 40px;
	}
	.roadmap-item:after {
		left: 19px;
	}
	.roadmap-item {
		padding-left: 55px;
	}

	.documents {
		background: #d6e8fc;
	}
	.documents-l {
		margin-top: 15px;
	}
	.documents-block {
		margin-top: 1px;
	}

	.list-discounts-body {
		max-width: 215px;
		margin: 0 auto;
	}

	.list-p-rew-head-body {
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;
	}

	.list-traction-item {
		min-height: 67px;
	}

	.list-people-item.list-people-solo .list-people-content {
		text-align: left;
	}
	.list-people-item.list-people-solo .list-people-img {
		margin: 0 0 10px 0;
	}
	.list-people-item.list-people-solo {
   		border-top: 1px dotted #ddd;
	}

	.comment {
		padding: 20px 15px;
	}
	.list-p-rew-score {
		padding-left: 49px;
	}
	.list-p-rew-head-links {
		margin-left: 5px;
	}
	.list-p-rew-head-links a {
		margin: 0;
	}
	.comment-head-date {
		width: 100%;
		margin-left: 0;
	}
	.comment-head-name {
		max-width: 128px;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
		white-space: nowrap;
	}
	.comment-head-title {
		padding-bottom: 5px;
	}
	.list-p-rew-head-body {
		padding-bottom: 5px;
	}

	.form-avatar {
		margin: 0 auto 30px auto;
	}
	.form-avatar + div {
		width: 100%;
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
	}

	.vacancy-price {
		width: 100%;
		margin-left: 0;
	}
	.vacancy-category {
		width: 10%;
		margin-bottom: 2px;
	}

	.resume-placemap {
		width: 100%;
	}
	.resume-language {
		width: 100%;
	}

	.persona {
		padding: 30px 25px;
		margin-left: -25px;
		margin-right: -25px;
	}
	.persona-avatar {
		width: 110px;
		height: 110px;
		margin: 0 0 15px 0;
	}
	.persona-des {
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
		width: 100%;
	}

	.addroadmap-item {}
	.addroadmap-body {
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
		width: 100%;
	}
	.addroadmap-step {
		margin-bottom: 0;
	}

	.faq-list-bild {
		margin-left: -15px;
	}
	.faq-list-bild .faq-list-item {
		padding-left: 20px;
	}
	.faq-list-bild .faq-list-item:after {
		left: 0;
	}
	.faq-list-head-input,
	.faq-list-mini-head {
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
		width: 100%;
		margin-top: 5px;
	}

	.form-default .form-control {
		padding-top: 9px !important;
		padding-bottom: 8px !important;
	}

	.input-group.mini {
		-ms-flex-wrap: wrap !important;
    	flex-wrap: wrap !important;
		 -ms-flex-pack: end !important;
		-webkit-box-pack: end !important;
		        justify-content: flex-end !important;
	}
	.input-group.mini .form-control {
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
		width: 100%;
		border-radius: 4px !important;
		margin-bottom: 5px;
	}
	.input-group.mini .btn {
		border-radius: 4px !important;
	}

	.persona::after {
		left: 8px;
		bottom: 8px;
	}
	.btn-delete-stoke-lg {
		width: 43px;
		height: 43px;
		line-height: 44px;
	}

	.alerts-popup {
		max-width: 290px;
	}

	.chart-content,
	.chart-side {
		padding: 20px;
	}

	.chartm-side {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}
	.chartm-content {
		width: 100%;
		-moz-flex: auto;
		-ms-flex: auto;
		-o-flex: auto;
		-webkit-box-flex: 1;
		        flex: auto;
	}
	.chartm-side-item {
		margin-top: 15px;
	}

	/* new6.03.2018 */
	.bytoken {
		padding: 25px 15px;
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -1rem;
	}
	.bytoken-title {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.bytoken-h2 {
		margin-bottom: 10px;
	}
	.bytoken-list-checkbox-item {
		padding: 15px;
	}
	.bytoken-list-checkbox .bytoken-checkbox label {
		padding: 35px 0 0 0;
	}
	
	.bytoken-list-checkbox .bytoken-checkbox label::after,
	.bytoken-list-checkbox .bytoken-checkbox label::before {
		top: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	.bytoken-list {
		margin-bottom: 25px;
	}
	.bytoken-list-checkbox-item {
		margin-top: 15px;
	}
	.bytoken-list-mini {
		margin-bottom: 20px;
	}
	.bytoken-list-mini-item {
		margin-top: 10px;
	}
	.bytoken-footer {
		padding: 25px 15px;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -25px;
	}

	.bytoken-table {
		padding: 25px 25px;
	}
	/* new6.03.2018 */

	/* 07.03.2018 */
	.slider-hotprojects-body {
		max-width: 290px;
		margin: 0 auto;
	}
	.slider-hotprojects-img {
		height: 162px;
	}
	/* /07.03.2018 */
}

@media (min-width: 481px) {
	.types-graph.static {
		display: block!important;
	}
}

@media (max-width: 480px) {
	.show-detailed-scale {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin: 0px auto 30px auto;
	}
	.types-graph.static {
		display: none;
	}
	.list-p-rew-item {
		position: relative;
		margin-top: 50px;
	}
	.list-p-rew-item .list-p-rew-head-links {
		position: absolute;
		top: -26px;
		left: -10px;
	}
	.list-p-rew-item .list-p-rew-score {
		position: absolute;
		top: -26px;
		right: 0;
	}
	.list-p-rew-item .l-add-favorites,
	.list-p-rew-item .l-add-hashtag {
		-webkit-background-size: 100%;
		background-size: 100%;
	}
}

@media (max-width: 414px) {
	.btn-sett-facebook,
	.btn-sett-linkedin,
	.btn-sett-google {
		padding: 15px 10px;
		font-size: 12px;
	}

	.inputemail {
		width: 180px;
	}

	.filter-title > div {
		width: 100%;
	}

	.filter-title > div + div {
		margin-top: 10px;
	}
}