.buefy {
  @import "~bulma";
  @import "~buefy/src/scss/buefy";

  h2 {
    font-size: 20px;
    margin: 10px 0;
  }

  .container {
    max-width: 100%;
  }

  .datepicker {
    padding: 0;

    header {
      position: relative;
      background: none;
    }
    .dropdown-item:focus, .dropdown-item:hover {
      background: none;
    }
    .dropdown-menu {
      padding: 0;
    }
  }
}
