.TokenSwitch {
  &__tag {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #D1D1D1;
    font-size: 12px;
    color: #000;
    border-radius: 4px;

    &:hover {
      background: #e7e7e7;
    }
  }
  &__selected {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 4px;

    &:hover {
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0064d8), color-stop(100%, #00bdfb));
      background: -webkit-linear-gradient(135deg, #00bdfb 0%, #0064d8 100%);
      background: -o-linear-gradient(135deg, #00bdfb 0%, #0064d8 100%);
      background: linear-gradient(315deg, #00bdfb 0%, #0064d8 100%);
    }
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0064d8), color-stop(100%, #00bdfb));
    background: -webkit-linear-gradient(135deg, #00bdfb 0%, #0064d8 100%);
    background: -o-linear-gradient(135deg, #00bdfb 0%, #0064d8 100%);
    background: linear-gradient(315deg, #00bdfb 0%, #0064d8 100%);
    background-size: 100% auto;
    -webkit-box-shadow: 0 6px 10px rgba(0, 189, 251, 0.20);
    box-shadow: 0 6px 10px rgba(0, 189, 251, 0.20);
    border: none;
  }
}