[submodule "stand"]
	path = stand
	url = https://github.com/w12-platform/W12-Product-Test-Stand
[submodule "protocol"]
	path = protocol
	url = https://github.com/w12-platform/W12-Product-Blockchain-Protocol
