<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf_token" content="2a4f8b818fda635645923e2ef0c41fa54065e950b02a455d4b32d06e84609869">
    <!--link rel="shortcut icon" href="/images/system/" type="image/x-icon"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-reboot.css?v=20" rel="stylesheet">
    <link href="css/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css?v=20" rel="stylesheet">
    <link href="blockchain/src/assets/main.css?v=20" rel="stylesheet">
</head>
<body>

<div id="app" style="padding: 0 0 100px">
    <admin-dashboard></admin-dashboard>
    <hr style="margin: 92px 0" />
    <project-dashboard></project-dashboard>
    <hr style="margin: 92px 0"/>
    <investor-dashboard></investor-dashboard>
</div>

<script type="x-template" id="AdminDashboardTemplate">
    <section class="container">
        <h2>Admin Dashboard</h2>
        <div v-if="isLoading" class="alert alert-info" role="alert">
            <span v-if="loadingLedger">Загрузка смарт-контрактов...<br></span>
            <span v-if="fetchTokens">Загрузка списка токенов...<br></span>
            <span v-if="whitelistingToken">Добавление токена в whitelist...</span>
        </div>
        <div v-if="errorMessage" class="alert alert-danger" role="alert">
            <span>{{ errorMessage }}</span>
        </div>
        <div v-if="!isLoading">
            <div class="form-group">
                <label for="TokenAddress">Token Address</label>
                <input
                        placeholder="Token address with checksum"
                        type="text"
                        class="form-control"
                        id="TokenAddress"
                        v-model="whiteListForm.tokenAddress">
            </div>
            <div class="form-group">
                <label for="OwnerAddress">Owner Address</label>
                <input
                        placeholder="Token owner address"
                        type="text"
                        class="form-control"
                        id="OwnerAddress"
                        v-model="whiteListForm.ownerAddress">
            </div>
            <div class="form-group">
                <label for="Symbol">Symbol</label>
                <input
                        placeholder="3-4 letter abbreviation"
                        minlength="1"
                        maxlength="4"
                        type="text"
                        class="form-control"
                        id="Symbol"
                        v-model="whiteListForm.symbol">
            </div>
            <div class="form-group">
                <label for="Decimals">Decimals</label>
                <input
                        placeholder="Default: 18"
                        type="number"
                        minlength="1"
                        maxlength="2"
                        class="form-control"
                        id="Decimals"
                        v-model="whiteListForm.decimals">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input
                        placeholder="Descriptive name of the token"
                        type="text"
                        class="form-control"
                        id="Name"
                        v-model="whiteListForm.name">
            </div>
            <div class="form-group">
                <label for="FeeTokens">Fee (tokens)</label>
                <input
                        placeholder="0 .. 100 percent"
                        type="text"
                        minlength="1"
                        maxlength="3"
                        class="form-control"
                        id="FeeTokens"
                        v-model="whiteListForm.feePercent">
            </div>
            <div class="form-group">
                <label for="FeeETH">Fee (ETH)</label>
                <input
                        placeholder="0 .. 100 percent"
                        type="text"
                        minlength="1"
                        maxlength="3"
                        class="form-control"
                        id="FeeETH"
                        v-model="whiteListForm.feeETHPercent">
            </div>
            <div>
                <button class="btn btn-primary" @click="tryWhiteListToken">Whitelist</button>
            </div>
            <div class="AdminDashboard__tokens-table" v-if="tokensListTableData.length">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Token</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Decimals</th>
                            <th scope="col">Fee (tokens)</th>
                            <th scope="col">Fee (ETH)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(token, idx) in tokensListTableData" :key="idx">
                            <td>{{ token.address }}</td>
                            <td>{{ token.owner }}</td>
                            <td>{{ token.symbol }}</td>
                            <td>{{ token.name }}</td>
                            <td>{{ token.decimals }}</td>
                            <td>{{ token.feePercent }}%</td>
                            <td>{{ token.feeETHPercent }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</script>

<script type="x-template" id="ProjectDashboardTemplate">
    <section class="container">
        <h2>Project Dashboard</h2>
        <div v-if="isLoading" class="alert alert-info" role="alert">
            <span v-if="loadingLedger">Загрузка смарт-контрактов...<br></span>
            <span v-if="fetchingToken">Поиск токена...<br></span>
            <span v-else="!loadingLedger && !fetchingToken">Ожидайте...<br></span>
        </div>
        <div v-if="errorMessage" class="alert alert-danger" role="alert">
            <span>{{ errorMessage }}</span>
        </div>
        <div>
            <div class="form-group">
                <label for="ProjectDashboardTokenAddress">Token Address</label>
                <input
                        placeholder="Enter your token address to check status"
                        type="text"
                        class="form-control"
                        id="ProjectDashboardTokenAddress"
                        v-model="tokenAddress">
            </div>
            <div v-if="token" class="row align-items-center justify-content-around py-5">
                <div>Symbol: {{ token.symbol }}</div>
                <div>Decimals: {{ token.decimals }}</div>
                <div>Fee (tokens): {{ token.feePercent }}%</div>
                <div>Fee (ETH): {{ token.feeETHPercent }}%</div>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <span class="step-badge badge badge-pill badge-light">1</span>
                            </div>
                            <div class="col-sm-4">
                                Contact W12 to whitelist your token
                            </div>
                            <div class="col-sm-2 text-center">
                                <span v-if="isWhiteListed" class="badge badge-success">Whitelisted</span>
                                <span v-else class="badge badge-info">Not whitelisted</span>
                            </div>
                            <div class="col-sm text-right"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <span class="step-badge badge badge-pill badge-light">2</span>
                            </div>
                            <div class="col-sm-4">
                                Approve tokens to place
                            </div>
                            <div class="col-sm-2 text-center">
                                <span v-if="!(hasAllowance || hasPlacedWTokenAddress) || !isWhiteListed" class="badge badge-success">Pending</span>
                                <span v-else class="badge badge-success">Approved</span>
                            </div>
                            <div class="col-sm text-right">
                                <span v-if="hasAllowance">{{ tokensAmountThatApprovedToPlaceByTokenOwner }}</span>
                                <div v-else-if="isWhiteListed" class="text-left">
                                    <p>
                                        Spend from: {{ ownerAddress }}
                                    </p>
                                    <div class="form-group">
                                        <label for="SpendFrom">Amount</label>
                                        <input
                                                :placeholder="`Max: ${ownerBalance}`"
                                                type="text"
                                                class="form-control"
                                                id="SpendFrom"
                                                v-model="approveForm.value">
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary btn-sm" @click="approveTokensToSpend">Approve
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <span class="step-badge badge badge-pill badge-light">3</span>
                            </div>
                            <div class="col-sm-4">
                                Place Tokens to Listing
                            </div>
                            <div class="col-sm-2 text-center">
                                <span v-if="!hasPlacedWTokenAddress && (!hasAllowance || !isWhiteListed)"
                                      class="badge badge-success">Pending</span>
                                <span v-else class="badge badge-success">Placed</span>
                            </div>
                            <div class="col-sm text-right">
                                <span v-if="hasPlacedWTokenAddress">{{ placedTokenAddress }}</span>
                                <div v-else-if="isWhiteListed && hasAllowance" class="text-left">
                                    <div class="form-group">
                                        <label for="PlaceAmount">Place Amount</label>
                                        <input
                                                :placeholder="`Max: ${tokensAmountThatApprovedToPlaceByTokenOwner}`"
                                                type="text"
                                                class="form-control"
                                                id="PlaceAmount"
                                                v-model="placeTokensForm.value">
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary btn-sm" @click="placeTokens">Place</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <span class="step-badge badge badge-pill badge-light">4</span>
                            </div>
                            <div class="col-sm-4">
                                Configure Crowdsale
                            </div>
                            <div class="col-sm-2 text-center">
                                <span v-if="!isCrowdsaleInited && (!hasPlacedWTokenAddress && (!hasAllowance || !isWhiteListed))"
                                      class="badge badge-success">Pending</span>
                                <span v-else class="badge badge-success">Inited</span>
                            </div>
                            <div class="col-sm text-right">
                                <span v-if="isCrowdsaleInited">{{ tokenCrowdsaleAddress }}</span>
                                <div v-else-if="isWhiteListed && hasPlacedWTokenAddress" class="text-left">
                                    <div class="form-group">
                                        <label for="StartDate">Start date (YYYY-MM-DD)</label>
                                        <input
                                                placeholder="YYYY-MM-DD"
                                                type="text"
                                                class="form-control"
                                                id="StartDate"
                                                v-model="crowdsaleInitForm.date">
                                    </div>
                                    <div class="form-group">
                                        <label for="BaseTokenPrice">Base token price</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="BaseTokenPrice"
                                                v-model="crowdsaleInitForm.price">
                                    </div>
                                    <div class="form-group">
                                        <label for="AmountForSale">Amount for sale</label>
                                        <input
                                                :placeholder="`Min: ${token.tokensForSaleAmount}`"
                                                type="text"
                                                class="form-control"
                                                id="AmountForSale"
                                                v-model="crowdsaleInitForm.amountForSale">
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary btn-sm" @click="initCrawdsale">Configure</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <span class="step-badge badge badge-pill badge-light">5</span>
                            </div>
                            <div class="col-sm-4">
                                Configure Crowdsale Bonuses
                            </div>
                            <div class="col-sm">
                                <div v-if="isCrowdsaleInited && hasPlacedWTokenAddress"
                                     class="text-left">
                                    <div class="row" v-for="(stage, stageIndex) in tokenCrowdsaleStages" :key="stageIndex">
                                        <div class="col-sm">
                                            <div class="form-group">
                                                <label for="StageEndDate">End date (YYYY-MM-DD)</label>
                                                <input
                                                        placeholder="YYYY-MM-DD"
                                                        type="text"
                                                        class="form-control"
                                                        id="StageEndDate"
                                                        v-model="tokenCrowdsaleStages[stageIndex].endDate">
                                            </div>
                                            <div class="form-group">
                                                <label for="StageDiscount">Discount %</label>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        id="StageDiscount"
                                                        v-model="tokenCrowdsaleStages[stageIndex].discount">
                                            </div>
                                            <div class="form-group">
                                                <label for="StageVestingDate">Vesting Date (YYYY-MM-DD)</label>
                                                <input
                                                        placeholder="YYYY-MM-DD"
                                                        type="text"
                                                        class="form-control"
                                                        id="StageVestingDate"
                                                        v-model="tokenCrowdsaleStages[stageIndex].vestingDate">
                                            </div>
                                            <div class="text-right">
                                                <button class="btn btn-primary btn-sm" @click="deleteStageAt(stageIndex)">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div v-for="(bonusVolume, bonusVolumeIndex) in stage.bonusVolumes" :key="bonusVolumeIndex">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="bonusVolumeETH">From (ETH)</label>
                                                        <input
                                                                placeholder="ETH"
                                                                type="text"
                                                                class="form-control"
                                                                id="bonusVolumeETH"
                                                                v-model="tokenCrowdsaleStages[stageIndex].bonusVolumes[bonusVolumeIndex][0]">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="bonusVolumePercent">Bonus Percent</label>
                                                        <input
                                                                type="text"
                                                                class="form-control"
                                                                id="bonusVolumePercent"
                                                                v-model="tokenCrowdsaleStages[stageIndex].bonusVolumes[bonusVolumeIndex][1]">
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button class="btn btn-primary btn-sm"
                                                            @click="deleteBonusVolumesAt(stageIndex, bonusVolumeIndex)">
                                                        delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="text-center pt-2">
                                                <button class="btn btn-primary btn-sm"
                                                        @click="addBonusVolumesAt(stageIndex)">
                                                    Add
                                                </button>
                                                <button v-if="stage.bonusVolumes.length" class="btn btn-primary btn-sm"
                                                        @click="saveBonusVolumesAt(stageIndex)">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center pt-3">
                                        <button class="btn btn-primary btn-sm" @click="addStage">
                                            Add stage
                                        </button>
                                        <button v-if="tokenCrowdsaleStages.length" class="btn btn-primary btn-sm" @click="saveStages">
                                            Save stages
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</script>

<script type="x-template" id="InvestorDashboardTemplate">
    <section class="container">
        <h2>Investor Dashboard</h2>
        <div v-if="isLoading" class="alert alert-info" role="alert">
            <span v-if="loadingLedger">Загрузка смарт-контрактов...<br></span>
            <span v-if="fetchTokens">Загрузка списка токенов...<br></span>
        </div>
        <div v-if="errorMessage" class="alert alert-danger" role="alert">
            <span>{{ errorMessage }}</span>
        </div>
        <div v-if="!isLoading">
            <div
                class="card p-5"
                v-for="token in filteredTokensList"
                :key="token.tokenAddress"
            >
                <p>Token address: {{ token.tokenAddress }}</p>
                <p>Token name: {{ token.name }}</p>
                <p>Token symbol: {{ token.symbol }}</p>
                <converter
                        :tokenPrice="token.tokenPrice"
                        :bonusConditions="token.bonusVolumes"
                        :fixedDiscountPercent="token.stageDiscount"
                        @change="handleConverterChange(token.tokenAddress, $event)"
                ></converter>
                <p>Total buy: {{ preparedBuyAmountByTokenAddress[token.tokenAddress] }} ETH</p>
                <button class="btn btn-primary btn-sm" @click="handleBuyClick(token.tokenAddress)">
                    Buy
                </button>
            </div>
        </div>
    </section>
</script>

<script type="x-template" id="ConverterTemplate">
    <div>
        <div class="form-group col-md-6">
            <label for="Tokens">Tokens</label>
            <input
                    type="text"
                    class="form-control"
                    id="Tokens"
                    v-model="tokens">
        </div>
        <div class="form-group col-md-6">
            <label for="ETHs">ETHs</label>
            <input
                    type="text"
                    class="form-control"
                    id="ETHs"
                    v-model="ETHs">
        </div>
        <p>
            Profit: {{ profitInEth }} ETH
        </p>
    </div>
</script>

<script src="blockchain/node_modules/vue/dist/vue.js"></script>
<script src="blockchain/node_modules/moment/moment.js"></script>
<script src="blockchain/node_modules/web3/dist/web3.js"></script>
<script src="blockchain/src/main.js" type="module"></script>
</body>
</html>
