<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000"><style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="./translations.js?<%= VERSION %>"></script>
<!--     <script>
        const CurrentToken = {
            listerAddress: "0xdb1278fbc18d0188ba237cf5e44bc2d930223d45",
            version: "0.23.2",
            index: "5",
        };
    </script> -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css">
</head>
<body>
<div id="app">
    <header class="header">
        <div class="header__line">
            <div class="container">
                <div class="header__content">
                    <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="stand/html/img/logo.svg" alt=""></a></div>
                    <versions></versions>
                    <meta-mask></meta-mask>
                    <div class="actions">
                        <header-buy-w12-tokens></header-buy-w12-tokens>
                        <lang-switch style="margin-left: 45px; width: 80px;"></lang-switch>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__track">
                <div class="content">
                    <project-dashboard></project-dashboard>
                </div>
                <div class="sidebar" id="sidebar"><span class="toggle-mobile-btn"><i class="fa fa-arrow-up"></i></span>
                    <div class="sidebar__inner">
                        <sidebar-menu></sidebar-menu>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="sticky-footer"></div>
    <app-footer></app-footer>
</div>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="stand/html/css/main.css?<%= VERSION %>">
<script src="stand/html/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="stand/html/libs/sticky/sticky-sidebar.min.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="/build/App.js?<%= VERSION %>"></script>
<script src="stand/html/js/common.js?<%= VERSION %>"></script>
</body>
</html>
