.sticky-footer
//-Всегда наверху

footer.footer
	.container
		.footer__line
			.footer-links.first
				h5.footer-links__heading About icoplate
				ul.footer-links__list
					li.footer-links__item
						a(href="#").footer-links__link How it Works
					li.footer-links__item
						a(href="#").footer-links__link Whitepaper
					li.footer-links__item
						a(href="#").footer-links__link GitHub
					li.footer-links__item
						a(href="#").footer-links__link Privacy Policy
					li.footer-links__item
						a(href="#").footer-links__link Terms & Conditions
					li.footer-links__item
						a(href="#").footer-links__link W12 logos
			.footer-links
				h5.footer-links__heading Help
				ul.footer-links__list
					li.footer-links__item
						a(href="#").footer-links__link Support
					li.footer-links__item
						a(href="#").footer-links__link Upcoming pre-ICOs
					li.footer-links__item
						a(href="#").footer-links__link Upcoming ICOs
					li.footer-links__item
						a(href="#").footer-links__link Blockchain project ICOs
					li.footer-links__item
						a(href="#").footer-links__link All projects
			.footer-actions
				.footer-actions__links
					a(href="#") Browse projects
					a(href="#") Start a project
					a(href="#") Log in
					a(href="#") Sign up
				form.footer-form
					label.footer-form__label SIGN UP FOR SPECIAL OFFERS
					.footer-form__row
						input(type="email" placeholder="Your email address")
						button(type="submi") Sign up now
					span.footer-form__tags Private, secure, spam-free
				.footer-follow
					span.footer-follow__heading follow us
					.footer-follow__social
						a(href="#")
							i.fa.fa-facebook
						a(href="#")
							i.fa.fa-telegram
						a(href="#")
							i.fa.fa-twitter
						a(href="#")
							i.fa.fa-medium
						a(href="#")
							i.fa.fa-envelope