header.header
	.header__line
		.container
			.header__content
				.logo
					a(href="javascript:void(0)").logo__link
						img(src="img/logo.svg", alt="").logo__img
				.actions
					a(href="https://w12.io/buy-w12/?utm_source=test-net&utm_medium=demo_page" target="_blank").btn.actions__buytokens BUY W12 TOKENS
					.select.actions__select
						span.select__placeholder Eng
						ul.select__list
							li(data-value="En") Eng
							li(data-value="Ru") Rus
						input(type="hidden" name="select-value")