RewriteEngine On

RewriteCond %{REQUEST_FILENAME} \.php$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_FILENAME} \.php3$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_FILENAME} \.php4$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_FILENAME} \.php5$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_FILENAME} \.phtml$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{REQUEST_FILENAME} \.phps$ [NC]
RewriteRule .* - [F,L]