.MetaMask {
  @import "../buefy/mixins";

  display: flex;
  margin: 10px;
  padding: 5px 15px 5px 10px;
  border-radius: 30px;
  margin-left: auto;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;

  @include respond-to(tablet) {
    display: none;
  }
  @include respond-to(phone) {
    display: none;
  }
  @include respond-to(min-phone) {
    display: none;
  }

  &__balance {
    font-size: 15px;
    line-height: 21px;
  }
  &__status {
    font-size: 9px;
    line-height: 9px;
  }
  &__icon {
    margin-right: 3px;
    width: 33px;
    height: 33px;
    background-image: url('/src/bem/MetaMask/img/metamask-fox.svg');
    background-repeat: no-repeat;
  }
  &__notInstalled {
    display: flex;
    height: 34px;

    a {
      margin: auto;
      display: block;
      color: white;
      &:hover {
        color: #f6841b;
      }
      &:active {
        color: #f6841b;
      }
    }
  }
  &__isBlocked {
    display: block;
    line-height: 17px;
    max-width: 250px;
    color: white;
  }
  &__preloader {
    position: relative;
    width: 40px;
    font-size: 6px;

    .loading-background {
      background: none !important;
    }
  }
}